
<div class="info">
    <div>Nome</div>
    <div>
        <input type="text"
        name= name_chef>

    </div>
</div>
<div class="info">
    <div>Avatar</div>
    <div>
        <input type="text"
        name="avatar_chef">
    </div>
</div>