/***************LAYOUT**************/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.content{
    max-width: 940px;
    height: 64rem;
    margin: 0 auto;
}

header {
    background-color:#111111;
    align-items: center;
    height: 70px;
    
}

header img{
    background: white;
    width: 90px;
    height: 26.9px;
    margin-right: 123px;
    position: relative;
    left: 470px;
    top: 25px;
}

.menu-links a{
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    margin-right: 30px;
}

.menu-links a:hover{
    font-weight: bold;
}


footer{
    background-color: #EEEEEE;
    margin-top: 50px;
   
}

footer p{
    color: #999999;
    font-size: 14px;
    text-align: center;
    padding: 23px 0 23px;
    margin: 0;
}


/************* ABOUT *****************/

.content-about {
    margin-top: 50px;
}

.content-about p{
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.content-about h1{
    font-weight: bold;
    font-size: 20px;
    color: #111111;
}

/**************HOME***************/

section {
    display: flex;
    align-items: center;
    margin: 36px 0 50px;
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
}

.description{
    padding: 60px;
}

.description h1 {
    font-weight: bold;
    font-size: 32px;
    max-width: 305px;
}

.description p{
    font-weight: normal;
    font-size: 18px;
    max-width: 316px;
    margin-right: 200px;
}

.image img{
    width: 216px;
    height: 300px;
    bottom: 0;
    margin-top: 72px;
}


main h1 {
    margin-bottom: 0px;
}


/******************RECIPES****************/

.new-recipe  {
    width: 12%;
    margin-top: 24px;
    text-align: center;
    background-color:#6558C3;
    color: white;
    padding: 8px;
    border-radius: 4px;

}
.new-recipe a{
    color: white;
    text-decoration:none;
    font-weight: bold;
    
}

.recipes {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
   
    gap: 10px;
}


.recipe:hover{
    cursor: pointer;
}

.recipe-image{
    display: inline-block;
}

.recipe-image img {
    width: 200px;
    height: 90px;
    border-radius: 15px;
    margin-bottom: 10px;
    
}

.infos{
    display: inline-block;
    position: relative;
    left: 12px;
    top:-40px;
}

.infos h4 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
}

.infos p{
    font-size: 14px;
    color: #777777;
    margin: 0;
}
.infos a {
    position: relative;
    top: 10px;
    color:#6558C3;
    text-decoration: none;
}


/************* DETAILS *******************/

.recipe-details {
    margin-top: 30px;
}

.top-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-details a {
    background-color:#6558C3;
    text-decoration:none;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px ;
    width: 12%;
    font-weight: bold;
    font-size: 16px;

}



.details-image img {
    width:100%;
    height: 100%;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.infos-details {
    text-align: center;
    align-items: center;
}

.infos-details h4 {
    font-weight: bold;
    color: #111111;
    font-size: 30px;
    margin: 0;
}

.infos-details p {
    font-weight: normal;
    color: #777777;
    font-size: 15px;
    margin-top: 4px;
}

.instructions {
    margin-top: 50px;
}

.title { 
    display: flex;
    align-items: center;
}

.title button {
    font-weight: bold;
    color: #999999;
    font-size: 12px;
    border-left: 8px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.instructions h4 {
    font-weight: bold;
    font-size: 20px;
    color: #111111;
}

.instructions ul {
    font-weight: normal;
    color: #444444;
    font-size: 15px;
    margin-left: 4px;
    cursor: pointer;
    padding-inline-start: 0px;
}

.instructions li{
    list-style-type:none ;
}

/*************ACTIVE/DESATIVE*************/

.hide{
    display: block;
}

.hide.active{
    display: none;
}


/*====PAGE-CREATE====*/
.top-page-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-page-create button{
    width: 15%;
    color: white;
    border: none;
    padding: 8px;
    background-color: #6558C3;
    border-radius: 4px;
    font-size: 16px;
    display:block;
    font-weight: bold;
    cursor: pointer;
    

}
input{
    outline: none;
}

.info div:first-child{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 ;
    
}

.info input{
    width: 940px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #DDDDDD
    
}

.info input[name="addinfo"]{
    line-height: normal;
    word-wrap: break-word;
    word-break: break-all;
    height:200px ;
}

.add-ingredient,.add-ModeOfPrepare  {
    background-color: white;
    color: #6558C3;
    border: none;
    font-size: 16px;
    margin: 16px 0 24px -6px;
    font-weight: bold;
    cursor: pointer;
}

/*===PAGE-EDIT===*/

form button:nth-child(1){
    width: 7%;
    color: white;
    border: none;
    padding: 8px;
    background-color: #DC4747;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    position: absolute;
    top: 87px;
    right: 620px;

}
