<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    {%block head%}
        <title>Foodfy</title>
    {%endblock%}
</head>
<body> 

    <header>
        
         <div class="header">
            <div class="menu-links">
                <div class="header-image">
                    <a href="/"><img src="/logo.png" alt="logo foodfy"></a>
                </div>
                <a href="" class="menu-links">Sobre</a>
                <a href="/" class= "menu-links">Receitas</a>
                <a href="/" class= "menu-links">Chefs</a>
            </div>
            
            <div class="menu-search">
                <input type="text"
                name="filtered-recipes"
                placeholder="Buscar Receita">
                <button>Buscas</button>
            </div>
        </div>
        
    </header>

    <div class="content" >   
        
        
            {% block content%}

            {% endblock %}

    </div>

    
    <script src="/script.js"></script>
  

</body>
</html>