{% extends "layout.njk" %}

{%block head%}
    <title>Sobre - Foodfy</title>
{%endblock%}

{% block content %}

        <form  method="post" action="/admin/recipes">
            <div class="top-page-create">
                <h2>Criando receita</h2>
                <button type="submit">Salvar receita</button>
            </div>

            {% include "admin/recipes/fields.njk"%}
        </form>

{% endblock %}